{% extends "base.html" %}
{% block content %}
<div class="project">
	<div class="description">
		<h1> About  </h1>
		
		<p> 
			Jieting (Tina) Chen is a Chinese UX/UI designer. After graduating from Royal College of Art in London, she flew over the pond to take a bite of the Big Apple.
		</p>
			
		<p>
			She loves problem solving and crafting awesome user experiences @BarkBox. Her currently side project is <a href="http://tinytraveljournal.com" target="_blank">Tiny Travel Journal</a>.
		</p>
		<p>
			When not working, she likes to foster dogs, travel and take <a href="http://jieingtinachen.tumblr.com" target="_blank">photos</a>.
		</p>
		<p>
			陈婕婷，产品界面和用户体验设计师一枚，新疆人在纽约。平时喜欢美食，旅游和摄影。也爱帮流浪狗收留所寄养汪星人。这位汪星人叫圆圈，已找到一个幸福美满的家。
		</p>
		
	</div>
	<div class="imagePlace">
		<img class="projectImage" src="https://c1.staticflickr.com/1/290/31937527420_48cfb80e87_h.jpg">
	</div>
</div>

{% endblock content %}
